---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const teamMembers = await getCollection("team", ({ data }) => {
  return data;
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About IndiaDevStack</Fragment>
      <Fragment slot="desc">
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl">Our Mission</h2>
      <p class="text-lg leading-relaxed text-muted-foreground">
        IndiaDevStack is a thriving community dedicated to empowering DevTools founders, developers, and QA professionals from India. We are here to help founders and teams build tools that developers and QA engineers not only rely on but genuinely love using.
      </p>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl">Our Values</h2>
      <p class="text-lg leading-relaxed text-muted-foreground">
        Our mission is simple: to ignite the spark of innovation in India's tech ecosystem. We aim to bring together brilliant minds, encouraging them to innovate faster, learn from one another, and share their expertise. By cultivating a collaborative community, we strive to drive India’s contribution to the global technology landscape.
        <br />
        <br />
        We believe that the future of software, AI, and SaaS will be driven by Indian talent. We are passionate about supporting DevTools creators on their journey—from ideation to global impact. Whether you're a developer, founder, or QA professional, IndiaDevStack is here to provide you with resources, guideance, and a platform to showcase your work. We are committed to transforming how the tech world works, starting with the talent right here in India.
      </p>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl">Meet Our Team</h2>
      <p class="text-lg leading-relaxed text-muted-foreground">
        Our team comprises passionate individuals from various backgrounds, all
        dedicated to supporting the developer community. Learn more about the
        people who make this platform possible.
      </p>
    </div>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        teamMembers.map((teamMemberEntry) => (
          <a class="group" href={teamMemberEntry.data.link} target="_blank">
            <!--div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 700px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md transition group-hover:-translate-y-1 shadow group-hover:shadow-xl object-cover object-center aspect-square"
              />
            </div-->
            <div class="mt-4 text-center">
              <h2 class="text-lg">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-stone-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </a>
        ))
      }
    </div>
  </Container>
</Layout>
