---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Button } from "@components/ui/button";
import { Icon } from "astro-icon/components";
import ProductGallery from "@components/ProductGallery";
import Badge from "@components/ui/badge.astro";
import React from "react";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const softwareEntries = await getCollection("software");
  return softwareEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<Layout title={entry.data.Name}>
  <Container>
    <div class="mx-auto prose prose-lg mt-6 max-w-7xl">
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto py-12 px-4 md:px-6">
        <div class="p-1 w-full max-h-[420px]">
          <ProductGallery client:idle images={entry.data.Images} />
        </div>
        <div>
          <div class="flex gap-2 md:gap-4 h-16 md:h-20">
            {
              entry.data.Logo && (
                <img
                  src={entry.data.Logo}
                  alt={entry.data.Name}
                  class="size-10 lg:size-12 mt-2 shadow-sm dark:shadow-orange-600 rounded-lg"
                />
              )
            }
            <h1
              class="text-3xl md:text-5xl lg:text-6xl text-foreground font-bold mb-2">
              {entry.data.Name}
            </h1>
          </div>

          <div class="flex items-center gap-2 mt-2">
            {
              entry.data.Tags.map((tag) => (
                <Badge variant="secondary">{tag}</Badge>
              ))
            }
          </div>
          {
            entry.data.Tagline && (
              <p class="italic text-foreground/75 text-base">
                "{entry.data.Tagline}"
              </p>
            )
          }
          <p class="text-muted-foreground leading-snug mt-4">
            {entry.data.Description}
          </p>
          <a target="_blank" href={entry.data.Website + "?ref=india-dev-stack"}>
            <Button>
              Visit Wesbite <Icon class="ml-2" name="bx:world" />
            </Button>
          </a>
        </div>
        <h2
          class="text-xl col-span-2 text-start lg:text-5xl mb-3 font-semibold text-foreground">
          Product Details
        </h2>
        <div class="md:grid col-span-1 gap-2 md:grid-cols-2 md:col-span-2">
          <div class="mt-2">
            <h2
              class="text-xl lg:text-2xl mb-3 my-0 font-semibold text-foreground">
              Other details
            </h2>
            <div class="space-y-2 text-muted-foreground">
              <div class="flex items-center gap-2">
                <Icon name="bx:link-external" />
                <span>
                  Category : {entry.data.Category}
                </span>
              </div>
              <div class="flex items-center gap-2">
                <Icon name="bx:link-external" />
                <span>
                  Pricing : {entry.data.pricing}
                </span>
              </div>
              {
                entry.data.Demo && (
                  <div class="flex items-center gap-2">
                    <Icon name="bx:planet" />
                    <a
                      href={entry.data.Demo}
                      target="_blank"
                      class="text-muted-foreground">
                      Quick Demo
                    </a>
                  </div>
                )
              }
              <div class="flex items-center gap-2">
                <Icon name="bx:rocket" />
                <span>Stage : {entry.data.Stage}</span>
              </div>
              <div class="flex items-start gap-2">
                <Icon
                  name="fluent:people-community-28-regular"
                  class="flex-shrink-0 mt-2"
                />
                Customers : {entry.data.Customers.join(", ")}
              </div>
            </div>
            <div class="col-span-2 gap-8">
              <p
                class="inline-flex text-base font-bold mb-2 mr-4 text-muted-foreground">
                Makers:
              </p>
              {
                entry.data.Makers.map((maker, index) => (
                  <React.Fragment>
                    <a
                      href={maker.Profile}
                      target="_blank"
                      class="text-foreground">
                      {maker.Name}
                    </a>
                    <span class="text-foreground">
                      {index < entry.data.Makers.length - 1 && ", "}
                    </span>
                  </React.Fragment>
                ))
              }
            </div>
          </div>
          <div>
            <h2
              class="text-xl lg:text-2xl mb-3 my-0 font-semibold text-foreground">
              Key Features
            </h2>
            <ul class="mt-2 space-y-2 pl-1 text-muted-foreground">
              {
                entry.data.Features.map((features) => (
                  <li class="flex items-start gap-2">
                    <Icon
                      name="fluent:checkmark-24-filled"
                      class="mt-2 flex-shrink-0"
                    />
                    {features}
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="md:col-span-2 grid md:grid-cols-2 items-start">
            <div class="flex flex-col gap-2 mt-2">
              <h3 class="text-sm text-foreground font-semibold mb-0">
                Headquarter At:
              </h3>
              {
                entry.data.HQ.map((hq) => (
                  <div class="flex items-center text-muted-foreground gap-2">
                    <Icon
                      name="fluent:location-16-regular"
                      class="flex-shrink-0"
                    />
                    {hq.City}, {hq.Country}
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
      <Button variant={"outline"}>
        <a href="/software" class="flex items-center text-foreground">
          <Icon name="bx:arrow-back" class="size-4 mr-2" />
          View All Software
        </a>
      </Button>
    </div>
  </Container>
</Layout>
