---
import { SEO } from "astro-seo";
import "@styles/globals.css";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/bricolage-grotesque";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
  tags?: string[];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const {
  title,
  description = "A curated collection of dev-tools and technologies from India, built to fuel software development and streamline the SDLC process. Explore hundreds of solutions that can supercharge your workflows.",
  image = "/opengraph.png",
  type = "website",
  tags = [],
} = Astro.props;

const resolvedImageWithDomain = new URL(image, Astro.site).toString();

const makeTitle = title
  ? title + " | " + "India Dev Stack"
  : "India Dev Stack - Software directory for indie developers";
---

<!doctype html>
<script is:inline>
  function setDarkMode(document) {
    const getThemePreference = () => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "theme-light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "theme-light");
      });
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
      });
    }
  }

  setDarkMode(document);

  document.addEventListener("astro:before-swap", (ev) => {
    setDarkMode(ev.newDocument);
  });
</script>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/officialLogos/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: "@xevenbiswas",
        card: "summary_large_image",
        title: makeTitle,
        description: description,
        image: resolvedImageWithDomain,
        imageAlt: `${title} Screenshot`,
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: type,
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: `${title} Screenshot`,
        },
        optional: {
          description: description,
          siteName: "India Dev Stack",
          locale: "en_US",
        },
        article:
          type === "article"
            ? {
                tags: tags,
              }
            : undefined,
      }}
    />
  </head>
  <body class="overflow-x-hidden">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
